.profile {
  width: 250px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.tag {
  color: gray;
}

.location {
  font-size: 14px;
  color: gray;
}

.stats {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.stats li {
  display: flex;
  flex-direction: column;
}